[client]
user=ksj
password=Aurora5
host=apisql1-2
port=3306

[mysqld]
# Network 설정
bind-address = 0.0.0.0

# 성능 설정
max_connections = 200
innodb_buffer_pool_size = 1G

# 로그 설정
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow.log
long_query_time = 2

# 레플리케이션 설정
server-id = 1
log_bin = /var/lib/mysql/mysql-bin.log
binlog_do_db = flight_data

# SQL 모드 설정
sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION

# max_connections: 최대 동시 접속 수.
# innodb_buffer_pool_size: InnoDB 버퍼 풀 크기 (메모리 기반).
# slow_query_log: 느린 쿼리 로그 활성화 여부.
# long_query_time: 느린 쿼리로 간주되는 기준 시간 (초).
# server-id: 레플리케이션을 위한 서버 ID.
# log_bin: 바이너리 로그 활성화.
# binlog_do_db: 레플리케이션 대상 데이터베이스 지정.
# sql_mode: SQL 모드 설정.